[submodule "javascript"]
	path = javascript
	url = git@github.com:airbnb/javascript.git
[submodule "ruby"]
	path = ruby
	url = git@github.com:airbnb/ruby.git
[submodule "es6-features"]
	path = es6-features
	url = git@github.com:gingkolane/es6-features.git
